---
---

@charset "utf-8";

$body-background-color: #27262b;
$text-color: #f9f9f9;

/* Colors */
$background-color: #27262b;
$text-color: #f9f9f9;
$primary-color: #30302e ; // Includes colour for toc background
$border-color: mix(#fff, $background-color, 20%) ;
$code-background-color: mix(#000, $background-color, 15%) ;
$code-background-color-dark: mix(#000, $background-color, 20%) ;
$form-background-color: mix(#000, $background-color, 15%) ;
$footer-background-color: mix(#000, $background-color, 30%) ;
$link-color: mix($primary-color, $text-color, 40%) ;
$link-color-hover: mix(#fff, $link-color, 25%) ;
$link-color-visited: mix(#000, $link-color, 25%) ;
$masthead-link-color: $text-color ;
$masthead-link-color-hover: mix(#000, $text-color, 20%) ;
$navicon-link-color-hover: mix(#000, $background-color, 30%) ;

// Import the theme's main styles
@import "minimal-mistakes";
